@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dancing+Script:wght@700&family=Lora:wght@400;500&family=Montserrat:wght@300;400;500;600;800;900&family=Poppins:wght@400;500;600&display=swap');

:root{
    --body-font:'Poppins', sans-serif;
    --heading-font: 'Dancing Script', cursive;
    --body-color:rgb(6, 6, 48);
    --primary-color:rgb(17, 9, 109);
    --primary-color-dark:rgb(8, 8, 48);
    --text-dark:rgb(215, 214, 214);
    --text-light:rgb(203, 195, 195);
    --white:#ffffff;
    --max-width:1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white);
    font-family: var(--heading-font);
}



.section_description{
    font-weight: 700;
    line-height: 1.75rem;
    color: var(--text-light);
}
span{
    color: rgb(228, 235, 29);
}

.btn{
    padding: .75rem 1.5rem;
    font-size: 1rem;
    font-family: var(--body-font);
    outline: none;
    border: none;
    color:var();
    background-color: rgb(144, 6, 6);
    color: var(--text-dark);
   
    border-radius:5rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--text-dark);
    color: var(--body-color);
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
    color: var(--text-light);
}

body{
    padding: 0.5rem;
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-light);
}
.header{
   
    border-radius: 50px;
    max-width: 100%;
    margin-inline: auto;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.header nav{
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 2rem 1rem;
   gap: 2rem;
   
}
.header nav .bx,
.header nav .nav_logo{
    font-size: 30px;
    font-family: var(--heading-font);
    cursor: pointer;
}

.nav_actions a{
   padding: 7px 10px;
   font-size: 1.5rem;
   border-radius: 5rem;
   transition: 0.3s;
   
}




/* home section  */
.home{
    position: relative;
    top: -100px;
   
}

.home img{
    border-radius: 50px;
    max-width: 100%;
    margin-inline: auto;
    height: 600px;
    object-fit: cover;
  
}

.home h2{
    font-family: var(--heading-font);
    color:var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 35rem;
    width: 100%;
    font-size:3rem;
}

/* about section  */

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    top: -20%;
   
     
}


.about-data p{
    font-size: 20px;
    margin: 50px 0 50px 0;
}

.about img{
    height: 100%;
    width: 400px;
    border-radius:50px 0 50px 0px;
}

/* category section  */

.category{
    position: relative;
}
.shopping-heading,
.category-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category_description{
    font-size: var(--body-font);
}

.category-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 8%;
    background-color: var(--white);
    height: 12rem;
    border-radius: 25px;
   
}

.category-card{
    
    padding: 1rem;
    border-radius: 2rem;
    transition: 0.3s;
    
}
.category-card:hover{
    box-shadow: inset 10px 10px 20px #e5e5e5, inset -10px -10px 20px #ffff;
}

.category-card i {
    font-size: 5rem;
    color: var(--body-color);
}

.category-card h4{
    color: var(--body-color);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    font-size: 20px;
    
}

/* shopping start  */


.shopping_grid{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.shopping_card{
    padding: 1rem;
    background-color: var(--text-dark);
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.shopping_card:hover{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.shopping_card h3{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(144, 6, 6);
    text-align: right;
}
.shopping_card h4{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--body-color);
    text-align: center
}
.shopping_card img{
    width: 250px;
    height: 250px;
}
 
/* footer section  */

.footer_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
   
    
}
.footer_logo span{
    font-family: var(--heading-font);
    font-size: 3rem;
    line-height: 2px;
}

.footer_links {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 2rem;
}
hr{
    margin-top: 20px;
}

.footer_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}






























@media screen and (max-width: 600px) {
    .about{
        flex-direction: column;
    }
    .category-items{
        flex-direction: column;
        height: 100%;
    }
    .shopping_grid{
        flex-direction: column;
    }
    .shopping_card img{
        width: 300px;
    }
    .section_header{
       font-size: 2rem;
    }
}